@{
    ViewData["Title"] = "Projects";
}

<div class="project-view" id="projects">
    <div class="project-cards">
        <div class="card-info-container">
            <img src="~/images/ProjectLogo.svg" alt="">
            <div>
                <h6>ProjectName</h6>
                <p class="project-owner">ProjectOwner</p>
            </div>
            <div class="dots">
                <img src="~/images/ContextDots.svg" alt=""/>
                <div class="context-menu hidden">
                    <div class="context-container">
                        <button class="context-item">
                            <img class="context-menu-one" src="~images/pencil-fill.svg" alt="Edit Icon"/> Edit
                        </button>
                        <button class="context-item delete">
                            <img class="context-menu-one" src="~images/trash-fill.svg" alt="Delete Icon"/> Delete Project
                        </button>
                    </div>
                </div>
            </div>
            <div class="project-description">
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. </p>
            </div>
        </div>
    </div>
</div>

@await Html.PartialAsync("Modals/_AddProjectModalPartial")
@await Html.PartialAsync("Modals/_EditProjectModalPartial")