@model ProjectsViewModel
@{
    ViewData["Title"] = "Projects";

}

<div class="project-view" id="projects">
    @if (Model.Projects != null && Model.Projects.Any())
    {
        @foreach (var project in Model.Projects)
        {
            @await Html.PartialAsync("ListItems/_ProjectListItemPartial", project)
        }
    }
</div>

@await Html.PartialAsync("Modals/_AddProjectModalPartial", Model.AddProjectFormData)
@await Html.PartialAsync("Modals/_EditProjectModalPartial", Model.EditProjectFormData)