<div class="top">
    <div></div>
    <div>
        <img class="context-open" src="~/images/Cog.svg" alt="Options" />
    </div>
    <div>
        <img class="context-open" src="~/images/Avatar.svg" alt="User avatar" />
        <div class="context-menu-user hidden">
            <div class="context-container">
                <button class="context-item">
                    <img class="context-user-items" src="~/images/Avatar.svg" alt="Avatar" /> Name Placeholder
                </button>
                <button class="context-item logout">
                    <img src="~/images/Logout.svg" alt="Logout Icon" /> Logout
                </button>
            </div>
        </div>
    </div>

</div>